.delete {
    background-color: lightcoral
}

.bg-img { 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: 500px;
    margin-left: 20px;
    border-radius: 50px;
}
.box-cta {
    max-height: 10px;
    margin: 10px;
  }
  .hero-head {
    margin: 10px;
  }
  button.submit {
    float: right;
  }
  
  form#cms {
    margin-top: 50px;
  }
  
  #cms textarea {
    resize: none;
  }
  
  .card-header button.delete,
  button.edit {
    float: right;
    margin: 5px;
  }
  
  .account-container {
    margin-top: 50px;
  }
  
  .account-list {
    margin-top: 25px;
  }
  
  .blog-container {
    margin-top: 30px;
  }
  
  .blog {
    margin-top: 30px;
  }
  
  .hidden {
    display: none;
    font: 20px;
  }
  
  #account-name {
    width: 100%;
    height: 35px;
    margin-top: 5px;
  }
  
  .top-30 {
    margin-top: 30px;
  }

.hero.is-medium .hero-body {
    padding-bottom: 9rem;
    padding-top: 4em;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.form-control {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}
  