
.bg-img { 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}
 .img-responsive {
    display: block;
    max-width: 100%;
    height: 500px;
    margin-left: 20px;
    border-radius: 50px;
} 